.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

h2 small {
  font-size: 0.5em;
}

.col-5 {
  min-width: 62px;
}

.col-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
  color: var(--tc);
}

.responsive-table .table-header {
  color: white;
  background-color: var(--accent);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.responsive-table .table-row {
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.responsive-table .col-1 {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.responsive-table .col-2 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.responsive-table .col-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.responsive-table .col-4 {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.responsive-table .clo-5 {
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
}

.responsive-table input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .responsive-table .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: var(--accent);
    padding-right: 10px;
    content: attr(data-label);
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-align: right;
  }
}

.employ {
  background-color: var(--mainContainerColor) !important;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -ms-grid;
  display: grid;
  margin-bottom: 3% !important;
      grid-template-areas: 'a a b b c c' 'd d d e e e' 'f f f f f f';
  grid-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.employ .a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: a;
}

.employ .b {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: b;
}

.employ .c {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: c;
}

.employ .d {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: d;
}

.employ .e {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: e;
}

.employ .f {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: f;
  margin-left: auto;
}

@media all and (max-width: 767px) {
  .employ {
    padding-right: 0 !important;
  }
  .employ .a {
    -ms-grid-row: 1;
    grid-area: 1;
  }
  .employ .b {
    -ms-grid-row: 2;
    grid-area: 2;
  }
  .employ .c {
    -ms-grid-row: 3;
    grid-area: 3;
  }
  .employ .d {
    -ms-grid-row: 4;
    grid-area: 4;
  }
  .employ .e {
    -ms-grid-row: 5;
    grid-area: 5;
  }
  .employ .f {
    -ms-grid-row: 6;
    grid-area: 6;
  }
}

.popup {
  background-color: rgba(51, 51, 51, 0.534);
  width: calc(100% - 65px);
  height: 100%;
  position: absolute;
  left: 65px;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -100%;
  -webkit-transition: top;
  transition: top;
  overflow: hidden;
}

@media all and (max-width: 1050px) {
  .popup {
    left: 0;
    width: 100%;
  }
}
/*# sourceMappingURL=Employers.css.map */