#titreTab {
  animation-duration: 8s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  0% {
    margin-left: 0%;
  }
  50% {
    margin-left: 300px;
  }
  100% {
    margin-left: 0%;
  }
}
.formCss {
    border: solid 1px #e8e8e9;
    width: 100%;
    background-color: transparent;
    margin: 10px 0;
    height: 40px;
    border-radius: 40px;
    padding: 0 0.2rem;
    display: grid;
    grid-template-columns: 100%;
    position: relative;
    &:hover 
    {
        border-color: rgb(1, 129, 113);
    }    
}

.formCss input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--tc);
    padding-left: 2%;
  }

  .formCss select {
    padding-left: 2%;
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--tc);
  }

  .card
  {
     
    color: var(--tc);
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid 2px #e8e8e9;
    padding: 40px;
    width: 100%;
    margin-left:5px;
    margin-right: 5px;
    

  }

  .buttonStyle {
      width: 20%;
      background-color: var(--accent);
      outline: none;
      height: 49px;
      border-color: transparent;
      border-radius: 49px;
      color: #fff;
      margin: 10px 0;
      font-weight: 400;
      font-size: 0.9rem;
      cursor: pointer;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      &:hover 
      {
          border-color: white;
      } 
    
  }
  .buttonStyle[value="Supprimer"] {
    background-color: rgb(209, 35, 35) !important;
  }
  .buttonStyle[value="annuler"] {
    background-color: rgb(209, 35, 35) !important;
  }


.main-container
{
  display:flex;
  flex-wrap: wrap;  

}
.firstRow
{
  border: solid 1px rgb(1, 129, 113) ;
  border-radius: 20px;
  border-width:thick;
  color:rgb(1, 129, 113) ;
  text-align: center;
  padding: 20px;
}



.styled-table
{

    border-collapse: collapse;
    margin: 3px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display:inline-table;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.searchCss 
{
  border: solid 1px  rgb(1, 129, 113);;
  width: 130px;
  background-color: transparent;
  margin: 10px 0;
  height: 50px;
  border-radius: 40px;
  padding: 0 0.7rem;
  display: grid;
  grid-template-columns:  80% 20%;
  position: relative; 
  margin-left: 89%;

}
.searchCss input
{
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--tc);

}
.searchCss i{
text-align: center;
line-height: 55px;
color: #acacac;
transition: 0.5s;
font-size: 1.1rem;
}

#addButtonToList
{
  margin-left: 80%;
}


//test popup

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
  width: 100%;
  align-items: center ;
  justify-content: center;

}
 
/* Add styles to the form container */
.form-container {
  width:60%;
  padding: 20px;
  background-color: white;
  border-radius: 0.5em;
  border: white;
  box-shadow: 0 10px 20px rgba(white, 0.2);
}

#closeButton
{
  top: 10px;
  right: 30px;
  margin-left: 100%;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: var(--accent);
  cursor: pointer;
}

.updateButton
{
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  &:hover 
  {
    color: rgb(1, 129, 113);
  } 
}

.errormsg
{
  text-align: center;
  color: red;
}

.containerTriAjout
{ display: flex;
  flex-direction: row;

}

.containerTri
{
display: flex;
flex-direction: column;
}

#addButtonToList
{
margin-left: 80%;

}

#triButton
{
 width:fit-content;
  
}

.triElements
{
  display: none;
  flex-direction: column;

}

#triName
{
  color: #009879;
  &:hover 
  {
      border: solid 1px #009879 ;
      padding: auto;
      border-radius:10%;
  } 
  
  
}

#triAge
{
  color: #009879;
  &:hover 
  {
      border: solid 1px #009879 ;
      border-radius:10%;
  } 
}

#triId
{
  color: #009879;
  &:hover 
  {
      border: solid 1px #009879 ;
      padding: auto;
      border-radius:10%;
  } 
}

#triNombreRepas
{
  color: #009879;
  &:hover 
  {
      border: solid 1px #009879 ;
      border-radius:10%;
  } 
}


#animalchart {
  color: var(--tc);

  rect {
    fill: transparent;
  }

  text {
    font-family: "Poppins", sans-serif;
    
    fill: var(--tc);
  }

  g:nth-child(1) {
    text{
      fill: black;
    }
  }

  g:nth-child(5),
  g:nth-child(6),
  g:nth-child(7) {
    text {
      fill: whitesmoke;
    }
  }
}