.piechart,
.donutchart {
  color: var(--tc);

  rect {
    fill: transparent;
  }

  text {
    font-family: "Poppins", sans-serif;

    fill: var(--tc);
  }

  g:nth-child(1) {
    text {
      fill: black;
    }
  }

  g:nth-child(5),
  g:nth-child(6) {
    text {
      fill: whitesmoke;
    }
  }
}


#Regimechart {

  svg[aria-label="A chart."] {
    rect[fill="#ffffff"] {
      fill: transparent;
    }
  }
  text {
    font-family: "Poppins", sans-serif;

    fill: var(--tc);
  }
}

@media all and (max-width: 1500px) {
  #Regimechart,.piechart,
  .donutchart {
    width: 100%!important;
  }

}