.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
  margin-top: 3%;
}
.container .error-table {
  text-align: center;
  color: red;
}
.col-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: var(--tc);
}
.responsive-table .table-header {
  color: white;
  background-color: var(--accent);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-top: 2%;
}
.responsive-table .table-row {
  background-color: transparent;
  border-radius: 5px;
  border: solid 2px #e8e8e9;
}
.responsive-table .col-1 {
  flex-basis: 10%;
}
.responsive-table .col-2 {
  flex-basis: 20%;
}
.responsive-table .col-3 {
  flex-basis: 18%;
}
.responsive-table .col-4 {
  flex-basis: 15%;
}
.responsive-table .col-5 {
  flex-basis: 25%;
}
.responsive-table .col-6 {
  flex-basis: 15%;
}
.responsive-table .col-7 {
  flex-basis: 5%;
}
.responsive-table input {
  box-sizing: border-box;
  width: 100%;
}
@media all and (max-width: 1050px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: var(--accent);
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}
.tab-btn {
  cursor: pointer;
  background: transparent;
  color: var(--tc);
  border: 0;
  outline: none;
}
.tab-btn:hover {
  color: var(--accent);
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: var(--mainContainerColor);
  border-radius: 5px;
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  transition: 1s ease-in-out;
  color: var(--tc);
}
.popup h2 {
  margin-top: 0;
  text-align: center;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: var(--accent);
}
.popup .content {
  padding: 10px;
  overflow: auto;
}
.popup .content .buttonsPUpdate {
  display: flex;
  margin-left: calc(100% - 310px);
  justify-content: space-between;
}
.popup .content .buttonsPUpdate .btn[value="Supprimer"] {
  background-color: #d12323 !important;
}
.popup .content .buttonsP {
  display: flex;
  margin-left: calc(100% - 150px);
  justify-content: space-between;
}
.popup .content .btn {
  width: 150px;
}
@media screen and (max-width: 700px) {
  .popup {
    width: 70%;
  }
}
.radio-field {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.radio-field label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: 12px 0;
  cursor: pointer;
  position: relative;
}
.radio-field input {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}
.radio-field .design {
  width: 16px;
  height: 16px;
  border: 1px solid var(--tc);
  border-radius: 100%;
  margin-right: 16px;
  position: relative;
}
.radio-field .design::before,
.radio-field .design::after {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.radio-field .design:before {
  background: var(--tc);
}
.radio-field .design::after {
  background: var(--accent);
}
.radio-field .text {
  color: var(--tc);
  font-weight: bold;
}
.radio-field input:checked + .design::before {
  opacity: 1;
  width: 11px;
  height: 11px;
  -webkit-transform: translate(-50%, -50%) scale(0.7);
  transform: translate(-50%, -50%) scale(0.7);
  left: 50%;
  top: 50%;
}
.radio-field input:hover + .design,
.radio-field input:focus + .design {
  border: 1px solid var(--accent);
}
.radio-field input:hover + .design:before,
.radio-field input:focus + .design:before {
  background: var(--accent);
}
.radio-field input:hover ~ .text {
  color: var(--accent);
}
.radio-field input:focus + .design::after,
.radio-field input:active + .design::after {
  opacity: 0.1;
  -webkit-transform: scale(2.6);
  transform: scale(2.6);
}

#errorMdAppellation,
#errorMdLocalisation,
#errorMdTaille,
#errorMdCD,
#errorMdCM {
  color: red;
  text-align: center;
}

#errorAjAppellation,
#errorAjLocalisation,
#errorAjTaille,
#errorAjCD,
#errorAjCM,
#errorAjTypeEnclos,
#errorAjPhoto {
  color: red;
  text-align: center;
}
.input-fieldSearch {
  border: solid 1px #e8e8e9;
  max-width: 50px;
  min-width: 15%;
  background-color: transparent;
  margin: 10px 0;
  height: 50px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 25px 89%;
  padding: 0 0.4rem;
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.btn {
  width: 150px;
  background-color: var(--accent);
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  margin: 10px 10px;
  font-weight: 400;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.5s;
}

.formCss {
  border: solid 1px #e8e8e9;
  width: 100%;
  background-color: transparent;
  margin: 20px 0;
  height: 60px;
  border-radius: 40px;
  padding: 0 0.2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  position: relative;
}

#typeEnclos-popupA {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--tc);
}

#message-popups {
  background: none;
  outline: none;
  border: none;
  line-height: 3;
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--tc);
}

#errorSendNom,
#errorSendEmail,
#errorSendSujet,
#errorSendMessage {
  color: red;
  text-align: center;
}

@media print {
  .sidebar-menu {
    display: none;
  }
  .input-fieldSearch {
    display: none;
  }
  .btn {
    display: none;
  }
  #themeButton {
    display: none;
  }
  .input-field {
    display: none;
  }
  .triButton {
    display: none;
  }
  .fas {
    display: none;
  }
  .fa-align-left {
    display: none;
  }
  .col-buttons {
    display: none;
  }

  .tab-btn {
    display: none;
  }
}

.radio-field #donutchart {
  color: var(--tc);
}

.radio-field #donutchart rect {
  fill: transparent;
}

.radio-field #donutchart text {
  font-family: "Poppins", sans-serif;
  fill: var(--tc);
}

.radio-field #donutchart g:nth-child(1) text {
  fill: black;
}

.radio-field #donutchart g:nth-child(5) text,
.radio-field #donutchart g:nth-child(6) text {
  fill: whitesmoke;
}

.triButton {
  border: 0;
  background-color: transparent;
  color: var(--accent);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px;
}

.triButton i {
  margin-right: 10px;
}

.triAndFilter {
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  height: 0px;
  overflow: hidden;
}

.triAndFilter.open {
  height: 250px !important;
}

.tri,
.filter,
.removeFT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.tri a,
.filter a,
.removeFT a {
  text-decoration: none;
  cursor: pointer;
  color: var(--tca);
  font-size: 18px;
  font-weight: 400;
}

.tri a:hover,
.filter a:hover,
.removeFT a:hover {
  color: var(--accent);
}

.tri h3,
.filter h3,
.removeFT h3 {
  border-bottom: 2px solid var(--accent);
  margin-bottom: 12px;
  color: var(--accent);
}
/*# sourceMappingURL=enclos.css.map */
